[submodule "timercpp"]
	path = timercpp
	url = https://github.com/99x/timercpp.git
[submodule "SwiftySyncStorage"]
	path = SwiftySyncStorage
	url = https://github.com/stefjen07/SwiftySyncStorage.git
	branch = main
[submodule "SwiftySyncAuthorization"]
	path = SwiftySyncAuthorization
	url = https://github.com/stefjen07/SwiftySyncAuthorization.git
	branch = main
[submodule "SwiftySyncCommon"]
	path = SwiftySyncCommon
	url = https://github.com/stefjen07/SwiftySyncCommon.git
	branch = main
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
