[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "timercpp"]
	path = timercpp
	url = https://github.com/99x/timercpp.git
[submodule "SwiftySyncStorage"]
	path = SwiftySyncStorage
	url = https://github.com/stefjen07/SwiftySyncStorage.git
	branch = main
[submodule "SwiftySyncAuthorization"]
	path = SwiftySyncAuthorization
	url = https://github.com/stefjen07/SwiftySyncAuthorization.git
	branch = main
